@dark-blue: #283645;
@pink: #d22856;
@bg-grey: #f2f2f2;
@border-grey: #e5e5e5;
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  
  @media (max-width: 1200px) {
    width: 88%;
    padding: 0 6%;
  }
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.bg-dark-blue {
  background: @dark-blue;
  position: relative;
  
  &::before {
    content: '';
    height: 1px;
    background: #485461;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  &::after {
    content: '';
    height: 1px;
    background: #000101;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
}