.feedback {
  .wrapper;
  font-size: 18px;
  padding-top: 185px;
  text-align: center;
  position: relative;
  margin-bottom: 190px;
  
  &__message {
    color: @dark-blue;
    margin: auto;
    margin-bottom: 35px;
    width: 690px;
    position: relative;
    
    
    &::before {
      content: '“';
      font-family: 'Georgia', sans-serif;
      font-size: 240px;
      line-height: 190px;
      color: #efefef;
      position: absolute;
      top: -110px;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
  
  &__name {
    font-size: 24px;
    font-weight: 700;
  }
  
  &__user-info {
  }
  
  &__arrow {
    position: absolute;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-top: 2px @dark-blue solid;
    border-left: 2px @dark-blue solid;
    opacity: .3;
    top: 210px;
    
    &:hover {
      opacity: 1;
      border-color: @dark-blue;
    }
    
    &:active {
      border-color: @pink;
    }
    
    &_left {
      left: 0;
      transform: rotate(-45deg);
    }
    &_right {
      right: 0;
      transform: rotate(135deg);
    }
  }
  
}