.page-header {
  .wrapper;
  .clearfix;
  
  &__logo {
    float: left;
  }
  
  &__list {
    float: right;
    max-width: 650px;
  }
  
  &__list li {
    .inline-block;
  }
  
  &__item {
   
  }
}

