.promo {
  
  &__title {
    .wrapper;
    text-align: center;
  }
}

.demonstration {
  .wrapper;
  
  &__item {
    .inline-block;
    width: 300px;
  }
  
}

.effect {
  .wrapper;
}

.feedback {
  .wrapper;
}

.pricelist {
  .wrapper;
  display: table;
  border: 1px black solid;
  
  &__row {
    display: table-row;
  }
  
  &__cell {
    display: table-cell;
  }
}